/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Sour Gummy', sans-serif;  
  background-color: #f9d5e5;
    height: 98dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name*/
/*.sour-gummy-font {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/